@model GymProject.Models.Room

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Room</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="value" type="hidden" value=@Html.DisplayFor(model => model.Id) />
            <input id="button" type="button" value="Send message" />
        </div>
    </div>
    <div>
        <iframe scrolling="yes" allowtransparency="true" id="iframe"
                src="https://localhost:44333/"
                style="background-color:#f7f7fa;"
                width="900" height="500"></iframe>
    </div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        button.onclick = () => {
            let val = document.getElementById('value').value;
            let wn = document.getElementById('iframe').contentWindow;
            wn.postMessage(val, 'https://localhost:44333/');
            console.log("send a message");
        };
    </script>
}